<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="user-scalable = no">
  </head>
  <body class="background">
    {{{body}}}
    <script type="text/javascript" src="/app.bundle.js" charset="utf-8"></script>
  </body>
</html>
